Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch

# Cursor
.cursor/rules/.mdc
.cursor/

# Claude
.claude/
*.md

# Antigravity
!.agent/

# Windsurf
Documentation/windsurf-guide.txt
Config/WindsurfSettings.ini

Plugins/GameLiftPlugin/

Content/Player/TEST/BP_SJEGM.uasset
